*{
	/*font-family: 'Century-gothic';*/
	box-sizing: border-box;	
	font-family: 'Times new roman', sans-serif;
}
html, body{
	margin: 0;
}

.container{/*
	border: 1px solid black;*/
	width: 80%;
	margin: 0 auto;
	min-height: 1px;
}
main{
	padding: 50px 0;
}
h1{
	text-align: center;
}

/*inicio menu*/
nav{
	height: 90px;
	padding:10px 40px;/*
	border:1px solid black;*/
	background: #183585;
	border-radius: 4px;
}
nav img{
	width: 15%;
}		
nav ul{	
	padding-top:4px;
	float: right;
}
nav ul li{
	width: 150px;
	height: 35px;
	display: inline-block;	
	text-align: center;

}
nav ul li a{
	width: 150px;
	height: 35px;
	display: inline-block;	
	text-decoration: none;
	font-size: 1.4em;
	color:white;
	padding-top: 5px;
	border:2px solid white;
	border-radius:2px;
}
/*fim menu*/


/*inicio slide*/
.slide{
	margin-top: 5px;
	height: 500px;
	border: 1px solid black;
	background:url('../img/slide.gif') no-repeat;
	background-size: 100%;
	background-position: bottom center;	
	color: white;
	padding:50px 0;
	border-radius: 4px;
}
.slide p, .slide h1{
	text-align: center;

}
.slide h1{
	font-size:3.3em;
}
.slide p{
	font-size: 1.7em;
	margin:0 auto	;
}
.slide button{
	margin: 0 auto;
	display: block;
	background-color:#ed7d31;
	margin-top: 100px;
	width: 200px;
	height: 50px;
	border:2px solid white;
	border-radius: 5px;
	padding: 0;
}
.slide button a{
	padding-top: 10px;
	text-decoration: none;
	color: white;
	font-size: 1.8em;
	width: 200px;
	height: 75px;
	display: block;
	text-align: center;
}
/*fim slide*/



/*inicio table*/
main table{
	width:100%;
}
main table, th, td{
	border-collapse: collapse;
	border:1px solid black;
}
main th{
	padding: 7px 0;
	font-size: 1.2em;
	background: #183585;
	color:white;
}
main td{
	text-align: center;
	padding: 8px 0;
}
.acoes{
	width: 260px;
}
/*fim table*/

/*inicio botões*/
.abutton{
	display: inline-block;
	width: 120px;
	height: 33px;
	margin:auto;
}
.abutton img{
	width: 15%;
}
.cad img{
	width: 10%;
}
.abutton, .abutton button{
	width: 120px;
	height: 33px;
	font-size: 1.2em;
	cursor:pointer;
	border:none;
	border-radius:5px;
}


.abutton .cad, .cad{
	padding: 0;
	width: 33px;
	width: 140px;
	background-color: rgba(0, 207, 41, .2);
}
.abutton .cad:hover, .cad:hover{
	background: rgba(0, 207, 41, .9);
	color: white;
	transition: 0.2s ease-in;
}


.abutton .edit, .edit{
	background-color: rgba(66, 135, 245, .4);;
}
.abutton .edit:hover, .edit:hover{
	background-color: rgba(66, 135, 245, .9);
	transition: 0.2s ease-in;
	color:white;
}

.abutton .exc, .exc{
	background-color: rgba(247, 58, 45, .4);
}
.abutton .exc:hover, .exc:hover{
	background-color: rgba(247, 58, 45, .9);
	transition: 0.2s ease-in;
	color:white;
}

.voltar{
	background-color: rgba(237,125,46, .4);
	text-decoration: none;
	color: black;
	text-align: center;
	padding-top: 5px;
}
.voltar:hover{
	background-color:rgba(237,125,46, .9);
	transition: 0.2s ease-in;
	color:white;
}
/*fim botões*/

/*inicio form*/
.form-func{
	display: block;
	padding-left: 100px;
}
.form-func .form-control{
	width: 45%;
	display: inline-block;
	margin:25px 0;
	font-size: 1.2em;
}
.form-func .form-control label{
	display: block;
}
.form-func .form-control input,
.form-func .form-control select{
	width: 70%;
	display: block;
	margin-top: 10px;
	outline:none;
	border:none;
	border-top:1px solid rgba(24, 53, 133, .5);
	border-left:1px solid rgba(24, 53, 133, .5);
	border-right:1px solid rgba(24, 53, 133, .5);
	border-bottom:2px solid #183585;
	font-size: 1em;
	border-radius: 5px;
} 
.form-func .form-control input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    
}
.form-func .form-control input[type=number] { 
   -moz-appearance: textfield;
   appearance: textfield;
}
.form-func #id{
	display: block;
}
.form-func .form-control input:disabled, 
.form-func .form-control select:disabled{
	background-color: white;
	color:black;
	
}
/*fim form*/

/*inicio filtro*/
.form-func .filtro, {
	/*display: flex;*/
	width: 100%;
}
.filtro div{
	display: inline-block;
}
.filtro input{
	display: block;
	width: 350px;
}
/*fim filtro*/


















/*inicio modal*/
.modalsuccess, .modalerror{
	width: 500px;
	border: 1px solid black;
	position: absolute;
	display: block;
	top:40%;
	left:50%;
	transform: translate(-50%, -50%);
	background-color: rgba(34, 181, 61, .9);
	border-radius: 10px;
	padding: 5px;
	transition: 1s;
	text-align: center;
	margin-top:25px;
	font-size: 2em;
}
.modalsuccess .fechar, .modalerror .fecharerror{
	background-color:rgba(34, 181, 61, .9);
	border:none;
	border-radius: 5px;
	float: right;	
}
.modalerror, .modalerror .fecharerror{
	background-color: rgba(247, 58, 45, .9);
}
/*fim modal*/


.login-bg{
	width: 100%;
	height: 100%;
	position:absolute;
	background-color: rgba(0,0,0, .8);
	top:-1000%;
	transition: 350ms;
}
.login-bg .form-func{
	background-color: white;
	width: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
	top:50%;
	left: 50%;
	padding: 0;
	display: block;
	border-radius: 15px;
}
.login-bg .form-func img{
	width: 25%;
	margin:10px auto 0 auto;
	display: block;
	}
.login-bg .form-func .form-control {
	position: relative;
	left: 50%;	
	transform: translateX(-50%);
}
.login-bg .form-func .form-control input{
	width: 100%;
}
.esqueci{
	text-align: right;
	margin:0;
	font-size: 0.8em; 
}
.login-bg .form-func .form-control .voltar, .login-bg .form-func .form-control .edit{
	padding:0;
}

